* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #0050a0;
}

.card {
  width: 50vw;
  background-color: black;
  padding: 3rem 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
}

.property {
  color: white;
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
  column-gap: 1rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
  height: 10vh;
  margin-bottom: 2rem;

  background-color: black;
  border-radius: 8px;
}

.search-form input,
.search-form button {
    flex-basis: 70%;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;

}
.search-form button{
    flex-basis: 30%;
    cursor: pointer;
    border-left: 1px solid #404040 ;
}

.search-form button:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 0.5rem whitesmoke;
    inset: 0 0 0.5rem rgba(0,0,0,0.8);
}